.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-top: 90px;
}

.goBackContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
}
