.container {
  background: var(--purple);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--M);
  color: var(--light);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.container:hover {
  background: var(--light);
  color: var(--purple);
}
