.container {
  color: var(--light);
  display: flex;
  flex-direction: column;
  width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #8a2be2, #1c0027);
  border-image-slice: 1;
  padding-bottom: 20px;
}

.listTitle {
  font-size: var(--XL);
}

.listInfo,
.counts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.counts {
  font-size: var(--SM);
}

.moviesList {
  padding-top: 40px;
}
